.top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50%;
}

.divider{
    border-bottom: solid 1px var(--main) ;
    border-left: solid 1px var(--main);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titleB{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleB img{
    padding-right: 1%;
}

.addCustomer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.deleteCustomer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCustomer h1{
    text-align: center;
}

.deleteCustomer h1{
    text-align: center;
}

.addCustomer form{
    display: flex;
    flex-direction: column;
}

.addCustomer form p input{
    background-color: transparent;
    border: solid 1px var(--main);
}

.addCustomer form p input.invalid{
    background-color: transparent;
    border: solid 1px red;
}

.addCustomer form p input.valid{
    background-color: transparent;
    border: solid 1px var(--accent);
}

.deleteCustomer form{
    width: 70%;
}

.deleteCustomer form p input{
    background-color: transparent;
    border: solid 1px var(--main);
}

.formGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonGroup{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonGroup input{
    border: solid 2px var(--accent);
    background-color: transparent;
    color: var(--accent);
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: 900;
    cursor: pointer;
}

.buttonGroup .submit{
    background-color: var(--accent);
    color: var(--background);
}

.buttonGroup .submit:hover{
    transition-duration: 150ms;
    background-color: var(--background);
    color: var(--accent);
}

.formGroup p{
    display: flex;
    flex-direction: column;;
    margin: 1%;
}

.bottom h1{
    text-align: center;
}

.bottom{
    padding-left: 2%;
    padding-right: 1%;
}

.bottom table{
    width: 100%;
    text-align: center;
}

.bottom table th{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-bottom: solid 1px var(--main);
}

.bottom table td input{
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--main);
    text-align: center;
}

.bottom table td img{
    cursor: pointer;
}

.customerID{
    width: 15%;
}

.fname{
    width: 45%;
}

.nameDelete{
    width: 35%;
}

.lname{
    width: 45%;
}

.surnameDelete{
    width: 35%;
}

.eircode{
    width: 30%;
}

.address{
    width: 60%;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.error{
    color: red;
    font-size: small;
    text-align: center;
}

.scroll-box{
    overflow-y: auto;
    max-height: 100px;
}